In [1]:
import pandas as pd
import requests
import numpy as np

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [6]:
response.json()

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg',
   'genre_ids': [18, 80],
   'id': 278,
   'original_language': 'en',
   'original_title': 'The Shawshank Redemption',
   'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
   'popularity': 115.576,
   'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg',
   'release_date': '1994-09-23',
   'title': 'The Shawshank Redemption',
   'video': False,
   'vote_average': 8.7,
   'vote_count': 26203},
  {'adult': False,
   'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
   'genre_ids': [18, 80],
   'id': 238,
   'original_language': 'en',
   'original_title': 'The Godfather',
   'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
   'popularity': 109.274,
   'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
   'release_date': '1972-03-14',
   'title': 'The Godfather',
   'video': False,
   'vote_average': 8.695,
   'vote_count': 19868},
  {'adult': False,
   'backdrop_path': '/kGzFbGhp99zva6oZODW5atUtnqi.jpg',
   'genre_ids': [18, 80],
   'id': 240,
   'original_language': 'en',
   'original_title': 'The Godfather Part II',
   'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
   'popularity': 153.148,
   'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
   'release_date': '1974-12-20',
   'title': 'The Godfather Part II',
   'video': False,
   'vote_average': 8.576,
   'vote_count': 11994},
  {'adult': False,
   'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
   'genre_ids': [18, 36, 10752],
   'id': 424,
   'original_language': 'en',
   'original_title': "Schindler's List",
   'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
   'popularity': 71.157,
   'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
   'release_date': '1993-12-15',
   'title': "Schindler's List",
   'video': False,
   'vote_average': 8.567,
   'vote_count': 15402},
  {'adult': False,
   'backdrop_path': '/qqHQsStV6exghCM7zbObuYBiYxw.jpg',
   'genre_ids': [18],
   'id': 389,
   'original_language': 'en',
   'original_title': '12 Angry Men',
   'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
   'popularity': 77.327,
   'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
   'release_date': '1957-04-10',
   'title': '12 Angry Men',
   'video': False,
   'vote_average': 8.541,
   'vote_count': 8269},
  {'adult': False,
   'backdrop_path': '/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg',
   'genre_ids': [35, 18, 10749],
   'id': 19404,
   'original_language': 'hi',
   'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
   'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
   'popularity': 33.735,
   'poster_path': '/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg',
   'release_date': '1995-10-20',
   'title': 'Dilwale Dulhania Le Jayenge',
   'video': False,
   'vote_average': 8.538,
   'vote_count': 4387},
  {'adult': False,
   'backdrop_path': '/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg',
   'genre_ids': [16, 10751, 14],
   'id': 129,
   'original_language': 'ja',
   'original_title': '千と千尋の神隠し',
   'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
   'popularity': 106.088,
   'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
   'release_date': '2001-07-20',
   'title': 'Spirited Away',
   'video': False,
   'vote_average': 8.536,
   'vote_count': 15940},
  {'adult': False,
   'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg',
   'genre_ids': [18, 28, 80, 53],
   'id': 155,
   'original_language': 'en',
   'original_title': 'The Dark Knight',
   'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
   'popularity': 111.178,
   'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
   'release_date': '2008-07-16',
   'title': 'The Dark Knight',
   'video': False,
   'vote_average': 8.515,
   'vote_count': 31967},
  {'adult': False,
   'backdrop_path': '/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg',
   'genre_ids': [35, 53, 18],
   'id': 496243,
   'original_language': 'ko',
   'original_title': '기생충',
   'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
   'popularity': 93.282,
   'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
   'release_date': '2019-05-30',
   'title': 'Parasite',
   'video': False,
   'vote_average': 8.509,
   'vote_count': 17560},
  {'adult': False,
   'backdrop_path': '/vxJ08SvwomfKbpboCWynC3uqUg4.jpg',
   'genre_ids': [14, 18, 80],
   'id': 497,
   'original_language': 'en',
   'original_title': 'The Green Mile',
   'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
   'popularity': 115.855,
   'poster_path': '/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg',
   'release_date': '1999-12-10',
   'title': 'The Green Mile',
   'video': False,
   'vote_average': 8.505,
   'vote_count': 16842},
  {'adult': False,
   'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg',
   'genre_ids': [16, 10749, 18],
   'id': 372058,
   'original_language': 'ja',
   'original_title': '君の名は。',
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'popularity': 83.507,
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
   'release_date': '2016-08-26',
   'title': 'Your Name.',
   'video': False,
   'vote_average': 8.496,
   'vote_count': 10975},
  {'adult': False,
   'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
   'genre_ids': [53, 80],
   'id': 680,
   'original_language': 'en',
   'original_title': 'Pulp Fiction',
   'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
   'popularity': 379.447,
   'poster_path': '/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg',
   'release_date': '1994-09-10',
   'title': 'Pulp Fiction',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 27121},
  {'adult': False,
   'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
   'genre_ids': [12, 14, 28],
   'id': 122,
   'original_language': 'en',
   'original_title': 'The Lord of the Rings: The Return of the King',
   'overview': 'As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.\u200b',
   'popularity': 113.626,
   'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
   'release_date': '2003-12-01',
   'title': 'The Lord of the Rings: The Return of the King',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 23428},
  {'adult': False,
   'backdrop_path': '/qdIMHd4sEfJSckfVJfKQvisL02a.jpg',
   'genre_ids': [35, 18, 10749],
   'id': 13,
   'original_language': 'en',
   'original_title': 'Forrest Gump',
   'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
   'popularity': 176.943,
   'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
   'release_date': '1994-06-23',
   'title': 'Forrest Gump',
   'video': False,
   'vote_average': 8.475,
   'vote_count': 26644},
  {'adult': False,
   'backdrop_path': '/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg',
   'genre_ids': [37],
   'id': 429,
   'original_language': 'it',
   'original_title': 'Il buono, il brutto, il cattivo',
   'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
   'popularity': 72.05,
   'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
   'release_date': '1966-12-22',
   'title': 'The Good, the Bad and the Ugly',
   'video': False,
   'vote_average': 8.467,
   'vote_count': 8279},
  {'adult': False,
   'backdrop_path': '/sw7mordbZxgITU877yTpZCud90M.jpg',
   'genre_ids': [18, 80],
   'id': 769,
   'original_language': 'en',
   'original_title': 'GoodFellas',
   'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
   'popularity': 233.821,
   'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
   'release_date': '1990-09-12',
   'title': 'GoodFellas',
   'video': False,
   'vote_average': 8.465,
   'vote_count': 12408},
  {'adult': False,
   'backdrop_path': '/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg',
   'genre_ids': [16, 18, 10752],
   'id': 12477,
   'original_language': 'ja',
   'original_title': '火垂るの墓',
   'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.',
   'popularity': 0.044,
   'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg',
   'release_date': '1988-04-16',
   'title': 'Grave of the Fireflies',
   'video': False,
   'vote_average': 8.463,
   'vote_count': 5253},
  {'adult': False,
   'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
   'genre_ids': [28, 18],
   'id': 346,
   'original_language': 'ja',
   'original_title': '七人の侍',
   'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
   'popularity': 30.727,
   'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg',
   'release_date': '1954-04-26',
   'title': 'Seven Samurai',
   'video': False,
   'vote_average': 8.456,
   'vote_count': 3500},
  {'adult': False,
   'backdrop_path': '/k3SBILYxHRgjORb5tbvA5dm2N4h.jpg',
   'genre_ids': [18, 10749],
   'id': 11216,
   'original_language': 'it',
   'original_title': 'Nuovo Cinema Paradiso',
   'overview': "A filmmaker recalls his childhood, when he fell in love with the movies at his village's theater and formed a deep friendship with the theater's projectionist.",
   'popularity': 32.797,
   'poster_path': '/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg',
   'release_date': '1988-11-17',
   'title': 'Cinema Paradiso',
   'video': False,
   'vote_average': 8.453,
   'vote_count': 4203},
  {'adult': False,
   'backdrop_path': '/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg',
   'genre_ids': [35, 18],
   'id': 637,
   'original_language': 'it',
   'original_title': 'La vita è bella',
   'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
   'popularity': 51.565,
   'poster_path': '/74hLDKjD5aGYOotO6esUVaeISa2.jpg',
   'release_date': '1997-12-20',
   'title': 'Life Is Beautiful',
   'video': False,
   'vote_average': 8.452,
   'vote_count': 12720}],
 'total_pages': 471,
 'total_results': 9403}

In [8]:
pd.DataFrame(response.json()['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,115.576,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.700,26203
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",109.274,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.695,19868
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,153.148,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.576,11994
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,71.157,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.567,15402
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,77.327,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.541,8269
5,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",33.735,/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.538,4387
6,False,/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",106.088,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.536,15940
7,False,/dqK9Hag1054tghRQSqLSfrkvQnA.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,111.178,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-16,The Dark Knight,False,8.515,31967
8,False,/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",93.282,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.509,17560
9,False,/vxJ08SvwomfKbpboCWynC3uqUg4.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,115.855,/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg,1999-12-10,The Green Mile,False,8.505,16842
10,False,/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg,"[16, 10749, 18]",372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,83.507,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.496,10975
11,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",379.447,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,1994-09-10,Pulp Fiction,False,8.500,27121
12,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",122,en,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,113.626,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-01,The Lord of the Rings: The Return of the King,False,8.500,23428
13,False,/qdIMHd4sEfJSckfVJfKQvisL02a.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,176.943,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,1994-06-23,Forrest Gump,False,8.475,26644
14,False,/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...,72.050,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-22,"The Good, the Bad and the Ugly",False,8.467,8279
15,False,/sw7mordbZxgITU877yTpZCud90M.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",233.821,/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg,1990-09-12,GoodFellas,False,8.465,12408
16,False,/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg,"[16, 18, 10752]",12477,ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.044,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-16,Grave of the Fireflies,False,8.463,5253
17,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,30.727,/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg,1954-04-26,Seven Samurai,False,8.456,3500
18,False,/k3SBILYxHRgjORb5tbvA5dm2N4h.jpg,"[18, 10749]",11216,it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",32.797,/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg,1988-11-17,Cinema Paradiso,False,8.453,4203
19,False,/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,51.565,/74hLDKjD5aGYOotO6esUVaeISa2.jpg,1997-12-20,Life Is Beautiful,False,8.452,12720

In [10]:
df = pd.DataFrame(response.json()['results']).head(10)[['title', 'genre_ids', 'overview']]

In [11]:
df.head()

,title,genre_ids,overview
0,The Shawshank Redemption,"[18, 80]",Imprisoned in the 1940s for the double murder ...
1,The Godfather,"[18, 80]","Spanning the years 1945 to 1955, a chronicle o..."
2,The Godfather Part II,"[18, 80]",In the continuing saga of the Corleone crime f...
3,Schindler's List,"[18, 36, 10752]",The true story of how businessman Oskar Schind...
4,12 Angry Men,[18],The defense and the prosecution have rested an...

In [12]:
data = pd.DataFrame()

In [13]:
data

Empty DataFrame
Columns: []
Index: []

In [15]:
for i in range(1,428):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results']).head(10)[['title', 'genre_ids', 'overview']]
    data = data._append(temp_df, ignore_index=True)

In [16]:
data

,title,genre_ids,overview
0,The Shawshank Redemption,"[18, 80]",Imprisoned in the 1940s for the double murder ...
1,The Godfather,"[18, 80]","Spanning the years 1945 to 1955, a chronicle o..."
2,The Godfather Part II,"[18, 80]",In the continuing saga of the Corleone crime f...
3,Schindler's List,"[18, 36, 10752]",The true story of how businessman Oskar Schind...
4,12 Angry Men,[18],The defense and the prosecution have rested an...
...,...,...,...
4265,Renegades,"[53, 28]","In the midst of the Balkan wars, a squad of Na..."
4266,"You, Me and Dupree","[35, 10749]",After standing in as best man for his longtime...
4267,The Cloverfield Paradox,"[27, 878, 28]","Orbiting above a planet on the brink of war, s..."
4268,Psycho III,"[27, 53]","When Maureen Coyle, a suicidal nun who resembl..."
4269,Firestarter,"[878, 53, 27]","For more than a decade, parents Andy and Vicky..."

In [17]:
data.to_csv('movies.csv')

In [18]:
response_genre = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')

In [26]:
response_genre.json()

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [30]:
genre_dict = {genre['id']: genre['name'] for genre in genre_data['genres']}

In [33]:
def replace_genre_ids(genre_ids):
    if isinstance(genre_ids, str):
        genre_ids = eval(genre_ids)  
    return [genre_dict.get(genre_id, 'Unknown') for genre_id in genre_ids]

In [35]:
data['genre_names'] = data ['genre_ids'].apply(replace_genre_ids)

In [36]:
data.drop(columns=['genre_ids'], inplace=True)

In [38]:
data.to_csv('update_movies.csv')

In [39]:
data

,title,overview,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[Drama, Crime]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]"
4,12 Angry Men,The defense and the prosecution have rested an...,[Drama]
...,...,...,...
4265,Renegades,"In the midst of the Balkan wars, a squad of Na...","[Thriller, Action]"
4266,"You, Me and Dupree",After standing in as best man for his longtime...,"[Comedy, Romance]"
4267,The Cloverfield Paradox,"Orbiting above a planet on the brink of war, s...","[Horror, Science Fiction, Action]"
4268,Psycho III,"When Maureen Coyle, a suicidal nun who resembl...","[Horror, Thriller]"
4269,Firestarter,"For more than a decade, parents Andy and Vicky...","[Science Fiction, Thriller, Horror]"

# Text Preprocessing

In [101]:
df = pd.read_csv('update_movies.csv')

In [102]:
df.head()

,Unnamed: 0,title,overview,genre_names
0,0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"['Drama', 'Crime']"
1,1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","['Drama', 'Crime']"
2,2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"['Drama', 'Crime']"
3,3,Schindler's List,The true story of how businessman Oskar Schind...,"['Drama', 'History', 'War']"
4,4,12 Angry Men,The defense and the prosecution have rested an...,['Drama']

In [103]:
df['title'] = df['title'].str.lower()

In [104]:
df['overview'] = df['overview'].str.lower()

In [105]:
df['genre_names'] = df['genre_names'].str.lower()

In [106]:
df

,Unnamed: 0,title,overview,genre_names
0,0,the shawshank redemption,imprisoned in the 1940s for the double murder ...,"['drama', 'crime']"
1,1,the godfather,"spanning the years 1945 to 1955, a chronicle o...","['drama', 'crime']"
2,2,the godfather part ii,in the continuing saga of the corleone crime f...,"['drama', 'crime']"
3,3,schindler's list,the true story of how businessman oskar schind...,"['drama', 'history', 'war']"
4,4,12 angry men,the defense and the prosecution have rested an...,['drama']
...,...,...,...,...
4265,4265,renegades,"in the midst of the balkan wars, a squad of na...","['thriller', 'action']"
4266,4266,"you, me and dupree",after standing in as best man for his longtime...,"['comedy', 'romance']"
4267,4267,the cloverfield paradox,"orbiting above a planet on the brink of war, s...","['horror', 'science fiction', 'action']"
4268,4268,psycho iii,"when maureen coyle, a suicidal nun who resembl...","['horror', 'thriller']"
4269,4269,firestarter,"for more than a decade, parents andy and vicky...","['science fiction', 'thriller', 'horror']"

# Remove Punctuation

In [107]:
import string

In [108]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [109]:
exclude = string.punctuation

In [110]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, "")
    return text

In [111]:
df['title'] = df['title'].apply(remove_punc)

In [112]:
df['overview'] = df['overview'].apply(remove_punc)

In [113]:
df['genre_names'] = df['genre_names'].apply(remove_punc)

In [114]:
df['genre_names'] = df['genre_names'].apply(lambda genres: ''.join(genres))

In [115]:
df

,Unnamed: 0,title,overview,genre_names
0,0,the shawshank redemption,imprisoned in the 1940s for the double murder ...,drama crime
1,1,the godfather,spanning the years 1945 to 1955 a chronicle of...,drama crime
2,2,the godfather part ii,in the continuing saga of the corleone crime f...,drama crime
3,3,schindlers list,the true story of how businessman oskar schind...,drama history war
4,4,12 angry men,the defense and the prosecution have rested an...,drama
...,...,...,...,...
4265,4265,renegades,in the midst of the balkan wars a squad of nav...,thriller action
4266,4266,you me and dupree,after standing in as best man for his longtime...,comedy romance
4267,4267,the cloverfield paradox,orbiting above a planet on the brink of war sc...,horror science fiction action
4268,4268,psycho iii,when maureen coyle a suicidal nun who resemble...,horror thriller
4269,4269,firestarter,for more than a decade parents andy and vicky ...,science fiction thriller horror

# Remove Stop Words

In [116]:
from nltk.corpus import stopwords

In [117]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [118]:
def remove_stopwords(text):
    new_txt = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_txt.append('')
        else:
            new_txt.append(word)
    x = new_txt[:]
    new_txt.clear()
    return " ".join(x)

In [119]:
df['title'] = df['title'].apply(remove_stopwords)

In [120]:
df['overview'] = df['overview'].apply(remove_stopwords)

In [121]:
df['genre_names'] = df['genre_names'].apply(remove_stopwords)

In [122]:
df

,Unnamed: 0,title,overview,genre_names
0,0,shawshank redemption,imprisoned 1940s double murder wife lo...,drama crime
1,1,godfather,spanning years 1945 1955 chronicle fictio...,drama crime
2,2,godfather part ii,continuing saga corleone crime family you...,drama crime
3,3,schindlers list,true story businessman oskar schindler save...,drama history war
4,4,12 angry men,defense prosecution rested jury filing ...,drama
...,...,...,...,...
4265,4265,renegades,midst balkan wars squad navy seals attem...,thriller action
4266,4266,dupree,standing best man longtime friend carl pe...,comedy romance
4267,4267,cloverfield paradox,orbiting planet brink war scientists test...,horror science fiction action
4268,4268,psycho iii,maureen coyle suicidal nun resembles norman...,horror thriller
4269,4269,firestarter,decade parents andy vicky run despera...,science fiction thriller horror

# Tokenization

In [123]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [124]:
df['overview'] = df['overview'].apply(word_tokenize)

In [125]:
df['title'] = df['title'].apply(word_tokenize)

In [126]:
df['genre_names'] = df['genre_names'].apply(word_tokenize)

In [127]:
df

,Unnamed: 0,title,overview,genre_names
0,0,"[shawshank, redemption]","[imprisoned, 1940s, double, murder, wife, love...","[drama, crime]"
1,1,[godfather],"[spanning, years, 1945, 1955, chronicle, ficti...","[drama, crime]"
2,2,"[godfather, part, ii]","[continuing, saga, corleone, crime, family, yo...","[drama, crime]"
3,3,"[schindlers, list]","[true, story, businessman, oskar, schindler, s...","[drama, history, war]"
4,4,"[12, angry, men]","[defense, prosecution, rested, jury, filing, j...",[drama]
...,...,...,...,...
4265,4265,[renegades],"[midst, balkan, wars, squad, navy, seals, atte...","[thriller, action]"
4266,4266,[dupree],"[standing, best, man, longtime, friend, carl, ...","[comedy, romance]"
4267,4267,"[cloverfield, paradox]","[orbiting, planet, brink, war, scientists, tes...","[horror, science, fiction, action]"
4268,4268,"[psycho, iii]","[maureen, coyle, suicidal, nun, resembles, nor...","[horror, thriller]"
4269,4269,[firestarter],"[decade, parents, andy, vicky, run, desperate,...","[science, fiction, thriller, horror]"

# Stemming

In [128]:
from nltk.stem.porter import PorterStemmer

In [129]:
ps = PorterStemmer()

In [130]:
def stem_word(text):
    return " ".join([ps.stem(word) for word in text])

In [131]:
df['title'] = df['title'].apply(stem_word)

In [133]:
df['overview'] = df['overview'].apply(stem_word)

In [135]:
df['genre_names'] = df['genre_names'].apply(stem_word)

In [136]:
df

,Unnamed: 0,title,overview,genre_names
0,0,shawshank redempt,imprison 1940 doubl murder wife lover upstand ...,drama crime
1,1,godfath,span year 1945 1955 chronicl fiction italianam...,drama crime
2,2,godfath part ii,continu saga corleon crime famili young vito c...,drama crime
3,3,schindler list,true stori businessman oskar schindler save th...,drama histori war
4,4,12 angri men,defens prosecut rest juri file juri room decid...,drama
...,...,...,...,...
4265,4265,renegad,midst balkan war squad navi seal attempt unrav...,thriller action
4266,4266,dupre,stand best man longtim friend carl petersen ra...,comedi romanc
4267,4267,cloverfield paradox,orbit planet brink war scientist test devic so...,horror scienc fiction action
4268,4268,psycho iii,maureen coyl suicid nun resembl norman former ...,horror thriller
4269,4269,firestart,decad parent andi vicki run desper hide daught...,scienc fiction thriller horror

# Lemmatization

In [137]:
from nltk.stem import WordNetLemmatizer

In [138]:
wordnet_lemmatizer = WordNetLemmatizer()

In [139]:
exclude = string.punctuation

In [147]:
def lemmatize_overview(text):
    return ' '.join([wordnet_lemmatizer.lemmatize(word, pos='v') for word in text.split()])

In [148]:
df['overview'] = df['overview'].apply(lemmatize_overview)

In [149]:
df

,Unnamed: 0,title,overview,genre_names
0,0,shawshank redempt,imprison 1940 doubl murder wife lover upstand ...,drama crime
1,1,godfath,span year 1945 1955 chronicl fiction italianam...,drama crime
2,2,godfath part ii,continu saga corleon crime famili young vito c...,drama crime
3,3,schindler list,true stori businessman oskar schindler save th...,drama histori war
4,4,12 angri men,defens prosecut rest juri file juri room decid...,drama
...,...,...,...,...
4265,4265,renegad,midst balkan war squad navi seal attempt unrav...,thriller action
4266,4266,dupre,stand best man longtim friend carl petersen ra...,comedi romanc
4267,4267,cloverfield paradox,orbit planet brink war scientist test devic so...,horror scienc fiction action
4268,4268,psycho iii,maureen coyl suicid nun resembl norman former ...,horror thriller
4269,4269,firestart,decad parent andi vicki run desper hide daught...,scienc fiction thriller horror